.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}

h2{
  color: darkblue;
}

.footer{
    background-color: #8E7AA7;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #8053B9 ;
    color:floralwhite;
    max-height:280px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
 body {
  padding: 50px 0px 0px 0px ;
  z-index: 0;
 }

.navbar-dark {
  background-color: #4800A5;
}

a:link {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: darkgreen; 
  }
  
  a:active {
    text-decoration: underline;
  }